$input-text-color: #143c4e;

$nav-item-bg : rgba(160, 179, 176, 0.25);
$nav-item-active-bg : #215870;// #1ab188;
$nav-item-hover-bg: #143c4e; //#179b77;
$nav-item-text-color: #a0b3b0;


$yellow: #f6b145;
$light-green: #16b1b5;
$dark-green: #207e89;


$nav-bg: #212529;
