/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */
/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/css?family=Spectral");
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
* Remove default fieldset styles.
*/
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
* Allow only vertical resizing of textareas.
*/
textarea {
  resize: vertical; }

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
Author's custom styles
========================================================================== */
/* ==========================================================================
Helper classes
========================================================================== */
/*
* Hide visually and from screen readers
*/
.hidden {
  display: none !important; }

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible {
  visibility: hidden; }

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
http://www.phpied.com/delay-loading-your-print-css/
========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
                        /* Black prints faster:
http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre {
    white-space: pre-wrap !important; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
  * Printing Tables:
  * http://css-discuss.incutio.com/wiki/Printing_Tables
  */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.margin-t-20 {
  margin-top: 20px; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #a0b3b0;
  color: #143c4e;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-width 0.2s ease; }
  input + i.fa {
    color: #FFFFFF;
    position: absolute;
    margin-top: -30px;
    opacity: 0;
    left: 0;
    transition: all 0.1s ease-in; }
  input:focus {
    outline: none;
    color: #143c4e;
    border-color: #207e89;
    border-left-width: 35px; }
    input:focus + i.fa {
      opacity: 1;
      left: 13px;
      transition: all 0.25s ease-out; }
    input:focus + i.fa.fa-envelope {
      left: 10px; }

.form-inline input {
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-width 0.2s ease; }
  .form-inline input:focus {
    color: #143c4e;
    border-color: #207e89;
    border-left-width: 1px; }

/************ NAVBAR ******************/
.search-form {
  align-self: center;
  width: 90%; }
  .search-form .form-wrapper {
    padding: 7px;
    background: #444;
    background: rgba(0, 0, 0, 0.2);
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4) inset, 0 1px 0 rgba(255, 255, 255, 0.2); }
    .search-form .form-wrapper input {
      width: 80%;
      height: 20px;
      padding: 20px 5px;
      float: left;
      font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
      border: 0;
      background: rgba(255, 255, 255, 0.7);
      -moz-border-radius: 3px 0 0 3px;
      -webkit-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px; }
      .search-form .form-wrapper input:focus {
        outline: 0;
        background: #fff;
        -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset; }
      .search-form .form-wrapper input ::-webkit-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic; }
      .search-form .form-wrapper input :-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic; }
      .search-form .form-wrapper input ::-moz-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic; }
      .search-form .form-wrapper input :-ms-input-placeholder {
        color: #999;
        font-weight: normal;
        font-style: italic; }
    .search-form .form-wrapper button {
      overflow: visible;
      position: relative;
      float: right;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 40px;
      width: 20%;
      font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
      color: #fff;
      text-transform: uppercase;
      background: #16b1b5;
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3); }
      .search-form .form-wrapper button:hover {
        background: #207e89; }
        .search-form .form-wrapper button:hover:before {
          border-right-color: #207e89; }
      .search-form .form-wrapper button:focus {
        background: #c42f2f; }
        .search-form .form-wrapper button:focus:before {
          border-right-color: #c42f2f; }
      .search-form .form-wrapper button:active {
        background: #c42f2f; }
      .search-form .form-wrapper button:before {
        content: '';
        position: absolute;
        border-width: 8px 8px 8px 0;
        border-style: solid solid solid none;
        border-color: transparent #16b1b5 transparent;
        top: 12px;
        left: -6px; }
      .search-form .form-wrapper button::-moz-focus-inner {
        border: 0;
        padding: 0; }
    .search-form .form-wrapper.cf {
      zoom: 1; }
      .search-form .form-wrapper.cf:before, .search-form .form-wrapper.cf:after {
        content: "";
        display: table; }
      .search-form .form-wrapper.cf:after {
        clear: both; }

@media (min-width: 992px) {
  .search-form {
    margin-right: 20px;
    width: auto; }
    .search-form .form-wrapper {
      width: 350px; }
      .search-form .form-wrapper input {
        width: 286px; }
      .search-form .form-wrapper button {
        width: 50px; } }
/*nav*/
#mainNav {
  background-color: #212529; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #f6b145; }
  #mainNav .navbar-brand {
    color: #f6b145; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: #fec503; }
  #mainNav .navbar-nav .nav-item .nav-link {
    height: 100px;
    line-height: 70px;
    transition: background-color 0.4s ease;
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-family: 'Spectral', serif !important; }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #f6b145;
      background-color: #fff; }

@media (min-width: 320px) {
  #mainNav .navbar-brand {
    margin-left: 0px; } }
@media (min-width: 992px) {
  #mainNav {
    position: fixed;
    padding: 0px;
    -webkit-transition: padding-top .3s, padding-bottom .3s;
    -moz-transition: padding-top .3s, padding-bottom .3s;
    transition: padding-top .3s, padding-bottom .3s;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.7s ease; }
    #mainNav .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s; }
    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important; }
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #207e89; }
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0; } }
@media (min-width: 1200px) {
  #mainNav .navbar-brand {
    margin-left: 350px; } }
html {
  height: 100%; }

body {
  display: flex;
  flex-flow: column;
  background: url(../img/white_texture.jpg); }
  body.auth {
    height: 100vh;
    background-image: radial-gradient(ellipse farthest-corner at center top, #f9fdfc 0%, #16b1b5 100%); }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: 'Poiret One', cursive !important;
    font-weight: 600; }
  body p, body input, body button, body a {
    font-family: 'Spectral', serif !important; }

.add-btn {
  background: #16b1b5;
  position: absolute;
  top: 100px;
  /*height of navbar*/
  box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.7); }
  .add-btn a {
    color: #FFFFFF; }
    .add-btn a:hover {
      color: #f6b145;
      background: white;
      box-shadow: 0 7px 9px -7px rgba(0, 0, 0, 0.7); }

@media (min-width: 320px) {
  .add-btn {
    margin-left: calc(50px + (0.5 * 200px)); } }
@media (min-width: 992px) {
  .add-btn {
    margin-left: calc(50px + (0.5 * 200px)); } }
@media (min-width: 1200px) {
  .add-btn {
    margin-left: calc(350px + (0.5 * 200px));
    /*logo is 265. this div is about 100 px wide. this is the formula to center it aprox. beneath the logo*/ } }
footer {
  padding: 20px 0 0 0;
  color: #207e89 !important;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  width: 100% !important;
  margin: 0 auto !important;
  background-color: #16b1b5 !important;
  bottom: 0;
  position: relative;
  -webkit-text-size-adjust: none;
  /* Effect 1: Brackets */ }
  footer .container {
    margin-top: 0px; }
    footer .container .social li a {
      display: block;
      height: 25px;
      width: 25px;
      color: #fff;
      line-height: 25px;
      text-align: center;
      text-decoration: none !important;
      font-size: 25px; }
    footer .container p {
      color: #fff; }
  footer .cl-effect-1 a::before,
  footer .cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s; }
  footer .cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px); }
  footer .cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px); }
  footer .cl-effect-1 a:hover::before,
  footer .cl-effect-1 a:hover::after,
  footer .cl-effect-1 a:focus::before,
  footer .cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px); }
  footer h3 {
    font: 12px/14px 'LatoBold',Helvetica,Arial,sans-serif;
    color: #207e89 !important;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 0 0 8px;
    margin-top: 20px; }
  footer a {
    color: #207e89; }
  footer li a {
    display: block;
    color: #fff; }
    footer li a:hover {
      color: #207e89; }

.copyright-container {
  background: #207e89;
  bottom: 0;
  position: relative;
  width: 100%;
  margin: 0 auto; }
  .copyright-container .copyright {
    color: rgba(255, 255, 255, 0.25);
    padding: 15px 0;
    text-align: center; }
    .copyright-container .copyright a {
      color: rgba(255, 255, 255, 0.35); }
      .copyright-container .copyright a:hover {
        color: #fff; }
  .copyright-container p {
    margin-bottom: 0px; }

.event-container {
  margin-bottom: 15px; }

.container {
  z-index: 999;
  margin-top: 160px; }

.event--card-info {
  background: #FFFFFF;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 360px;
  position: absolute;
  padding: 30px;
  margin-top: -300px;
  margin-left: -140px; }
  .event--card-info .date {
    display: flex;
    position: absolute;
    top: -10px;
    left: 30px;
    padding: 10px 15px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background: #f6b145;
    color: #FFFFFF; }
    .event--card-info .date .date-container {
      text-align: center;
      vertical-align: middle;
      font-size: 1.2em;
      line-height: 1em; }
      .event--card-info .date .date-container .day {
        font-size: 34px;
        font-weight: bold; }
      .event--card-info .date .date-container .month {
        text-transform: uppercase;
        display: inline-block;
        font-size: 14px; }
  .event--card-info .info-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px; }
  .event--card-info .btn {
    padding: 16px 0px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #FFFFFF;
      border-radius: 0px;
    letter-spacing: 2px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background-color: #207e89;
    color: #FFFFFF;
    width: 100%; }
    .event--card-info .btn:focus, .event--card-info .btn:active, .event--card-info .btn:hover {
      box-shadow: none !important;
      color: #f6b145; }

.event .event-date-location {
  padding: 40px; }
  .event .event-date-location .divider {
    border-right: 2px solid #f6b145; }
  .event .event-date-location p {
    font-family: 'Josefin Sans', sans-serif !important; }
.event .event-details {
  font-size: 1.2rem;
  word-wrap: break-word;
  padding: 20px; }
.event .event-title {
  width: 100%; }
  .event .event-title h1 {
    font-size: 2.5rem; }

h1 {
  line-height: 4rem; }

.horiz-rule {
  display: block;
  width: 60px;
  height: 2px;
  margin-bottom: 25px;
  background-color: #f6b145; }
  .horiz-rule.hr--centered {
    margin-right: auto;
    margin-left: auto; }

.header-container {
  width: 100%;
  position: relative; }
  .header-container .header-img {
    height: 32rem;
    background-color: #ccc; }
    .header-container .header-img img {
      filter: blur(50px) brightness(0.9);
      position: relative;
      height: 100%; }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    margin-top: 0px; }

  .event {
    padding: 42px 72px 60px;
    background-color: #FFFFFF;
    box-shadow: 0px 19px 35px 0px rgba(0, 0, 0, 0.15);
    height: 100%;
    width: 100%;
    margin-top: -140px; }
    .event img {
      height: 360px; }
    .event .event-details {
      padding: 40px; } }

/*# sourceMappingURL=style.css.map */
